<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-EU" }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="google-site-verification" content="3kSWz2KHl2VvZhnihAyUs_VwZrDH4JOzHcQ47FqkMTs" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="description" content="{{ page.subtitle }}">
    <title>{{ page.title }} - {{ site.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ root_url }}/assets/css/nprogress.css">

    <script src="{{ root_url }}/assets/js/jquery-3.4.1.min.js"></script>
    <script src="{{ root_url }}/assets/js/pjax.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="{{ root_url }}/assets/js/nprogress.js"></script>

    {% if page.script1 %}
      <script src="{{ root_url }}/assets/js/{{ page.script1 }}.js"></script>
      {% endif %}
    {% if page.script2 %}
      <script src="{{ root_url }}/assets/js/{{ page.script2 }}.js"></script>
      {% endif %}
    {% if page.script3 %}
      <script src="{{ root_url }}/assets/js/{{ page.script3 }}.js"></script>
      {% endif %}
    {% if page.script4 %}
      <script src="{{ root_url }}/assets/js/{{ page.script4 }}.js"></script>
      {% endif %}
    <link rel="shortcut icon" type="image/png" href="{{ root_url }}/{{ site.logo }}">
  </head>
  <body>
    <script src="{{ root_url }}/assets/js/loadProgress.js"></script>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.subtitle | default: site.description | default: site.github.project_tagline }}</h2>

      {% if page.b1 %}
        {% if page.b1_property == 'newtab' %}
          <a target="_blank" rel="noopener noreferrer" href="{{ page.b1_url }}" class="btn">{{ page.b1 }}</a>
        {% else %}
          <a href="{{ page.b1_url }}" class="btn">{{ page.b1 }}</a>
        {% endif %}
      {% endif %}

      {% if page.b2 %}
        {% if page.b2_property == 'newtab' %}
          <a target="_blank" rel="noopener noreferrer" href="{{ page.b2_url }}" class="btn">{{ page.b2 }}</a>
        {% else %}
          <a href="{{ page.b2_url }}" class="btn">{{ page.b2 }}</a>
        {% endif %}
      {% endif %}

      {% if page.b3 %}
        {% if page.b3_property == 'newtab' %}
          <a target="_blank" rel="noopener noreferrer" href="{{ page.b3_url }}" class="btn">{{ page.b3 }}</a>
        {% else %}
          <a href="{{ page.b3_url }}" class="btn">{{ page.b3 }}</a>
        {% endif %}
      {% endif %}

      {% if page.b4 %}
        {% if page.b4_property == 'newtab' %}
          <a target="_blank" rel="noopener noreferrer" href="{{ page.b4_url }}" class="btn">{{ page.b4 }}</a>
        {% else %}
          <a href="{{ page.b4_url }}" class="btn">{{ page.b4 }}</a>
        {% endif %}
      {% endif %}

      {% if page.b5 %}
        {% if page.b5_property == 'newtab' %}
          <a target="_blank" rel="noopener noreferrer" href="{{ page.b5_url }}" class="btn">{{ page.b5 }}</a>
        {% else %}
          <a href="{{ page.b5_url }}" class="btn">{{ page.b5 }}</a>
        {% endif %}
      {% endif %}
    </header>
    <div class="progress" id="progress"></div>
    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
        <span class="site-footer-credits">Visit my <a href="https://github.com/smcclennon">GitHub page</a></span>
      </footer>
    </main>
  </body>
</html>
